<div class="accueil-root">
  <div class="paragraphe paragraphe-shiny">
    <div>
      <h2>Shiny Stones</h2>
      <span>
        Shiny Stones est une boutique de création de bijoux et d'accessoires
        centrés sur la lithothérapie pour votre bien-être. <br />
        Chaque création est faite main et est créée selon un lithotest. Le
        lithotest est un test permettant de concevoir un bien selon vos besoins
        physiques et mentals et vous correspondant à 100%.
      </span>
    </div>
    <img height="135px" src="assets/images/ShinyLogo.png" />
  </div>
</div>
