.accueil-root {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.paragraphe-shiny {
  @media (min-width: 768px) {
    border-radius: 25px 100px 100px 25px;
  }
}

.paragraphe-galerie {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.shiny-logo {
  height: 110px;
  @media (min-width: 506px) {
    height: 150px;
  }
}

.demander-lithotest {
  border: 1px solid;
  background-color: var(--primary-40-color);
  color: var(--secondary-color);
  font-family: bellota;
  align-self: center;
  font-weight: 900;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 100px 100px;
  width: fit-content;
  text-decoration: none;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-40-color);
  }
}
