<div class="accueil-root">
  <div class="paragraphe paragraphe-shiny">
    <div>
      <h2>Shiny Stones</h2>
      <span>
        Shiny Stones est une boutique de création de bijoux et d'accessoires
        centrés sur la lithothérapie pour votre bien-être. <br />
        Chaque création est faite main et est créée selon un lithotest. Le
        lithotest est un test permettant de concevoir un bien selon vos besoins
        physiques et mentals et vous correspondant à 100%.
      </span>
    </div>
    <img height="135px" src="assets/images/ShinyLogo.png" />
  </div>
  <div class="paragraphe">
    <img height="135px" src="assets/images/litotherapie.jfif" />
    <div>
      <h2>Lithotest</h2>
      <span>
        Le lithotest est un test qui comme son nom l'indique se centre sur la
        lithothérapie. La lithothérapie est une médecine alternative pour aider
        à la guérison de certains maux et un rééquilibrage énergétique et
        émotionnel. <br /><br />
        Lors du lithotest le but est de déterminer quels sont les besoins
        principaux pouvant être accentués ou les différentes problématiques
        rencontrées aux cours de votre vie pouvant être accompagnées.
        <br /><br />
        Si vous souhaitez réaliser un lithotest, rien de plus simple. Nous
        conviendrons d'un lieu ou se rencontrer ou d'un créneau horaire pour se
        contacter. En discutant et en vous posant un certain nombre de questions
        portant sur les différents appareils et systèmes de votre corps. J'irai
        également communiquer avec vous sur vos relations envers vos différents
        cercles relationnels. <br /><br />
        Grâce à ses informations, qui resteront confidentielles, je pourrais
        ainsi créer quelque chose qui vous conviendra à 100% et qui sera unique.
      </span>
    </div>
  </div>
  <div class="paragraphe">
    <div class="paragraphe-galerie">
      <h2>Galerie</h2>
      <span>
        Ici vous trouverez les différentes créations précédèmment effectuées
        ainsi que leurs caractéristiques principales.
      </span>
      <shiny-stone-galerie [galeries]="(galerie$ | async) ?? []" />
    </div>
  </div>
</div>
