.creation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 28px 18px;
  background-color: var(--primary-color);
  font-weight: 500;
  border-radius: 12px;
  position: relative;
  div {
    flex-grow: 1;
    align-content: center;
  }
  span {
    height: 24px;
  }
}

.trie {
  display: flex;
  flex-direction: row;
  gap: 8px;
  input {
    display: none;
  }
  input:checked + label {
    text-decoration: underline;
  }
  label:hover {
    text-decoration: underline;
  }
}

@keyframes descendFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.galerieElargie {
  display: flex;
  flex-direction: row;
  .galerie {
    flex-grow: 2;
    .galerie-description {
      display: none;
      background-color: var(--primary-color);
      border-radius: 0px 0px 12px 12px;
      width: 100%;
      height: auto;
      z-index: 200;
      border: 1px solid rgb(118, 71, 55, 0.4);
      border-top: 0px;
    }
  }
  .creation:hover {
    flex-grow: 2;
    .galerie-description {
      animation: descendFade 0.3s ease-out forwards;
      display: block;
      position: absolute;
      top: 210px;
    }
  }
  button {
    background-color: transparent;
    border: none;
    border: 2px solid var(--primary-60-color);
    cursor: pointer;
    width: 30px;
    margin: 30px 0px;
    border-radius: 5px;
  }
}

.paginator {
  background-color: transparent;
}
