<div class="trie">
  Trier par :
  <input
    id="trieRecent"
    type="radio"
    name="trie"
    [ngModel]="order()"
    (ngModelChange)="order.set('ASC')"
    value="ASC"
  />
  <label for="trieRecent">Plus récent</label>

  <input
    id="trieAncient"
    type="radio"
    name="trie"
    [ngModel]="order()"
    (ngModelChange)="order.set('DESC')"
    value="DESC"
  />
  <label for="trieAncient">Plus ancient</label>
</div>
<div class="galerieElargie">
  <div class="galerie">
    @for (creation of creations(); track $index) {
    <div class="creation">
      <div>
        <img
          width="150px"
          style="max-height: 200px"
          [src]="'/assets/images/creations/' + creation.image"
        />
      </div>
      <span>{{ creation.nom }}</span>
    </div>
    }
  </div>
</div>
<mat-paginator
  class="paginator"
  (page)="setPage($event)"
  [length]="galeries.length"
  [pageSize]="sizeToNumber[size()]"
  [hidePageSize]="true"
  [pageIndex]="page()"
>
</mat-paginator>
