<footer class="footer">
  <a href="/cgvu">Condition générales de vente et d'utilisation</a>
  <nav>
    <a href="mailto:shiny.stones1&#64;outlook.com">
      <mat-icon>mail</mat-icon>
      <span class="mail-span">shiny.stones1&#64;outlook.com</span>
    </a>
    <a href="https://www.instagram.com/stones.shiny/" target="_blank">
      <img height="24px" src="/assets/icons/insta.svg" />
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100054289129444"
      target="_blank"
    >
      <img height="24px" src="/assets/icons/facebook.svg" />
    </a>
  </nav>
</footer>
