<header class="header">
  <div class="shiny">
    <img class="shiny-logo" src="assets/images/ShinyLogo.png" />
    <div class="data-header">
      <div class="text-title">
        <h2 class="shiny-title">Shiny Stones</h2>
        <span class="shiny-info">Création lithothérapique</span>
      </div>
      <nav class="navigation">
        <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
        <a routerLink="/fiche-pierre" routerLinkActive="active">
          Fiches de pierre
        </a>
      </nav>
    </div>
  </div>
</header>
