.header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0px;
  color: var(--primary-color);
  padding: 12px;
}

.shiny {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.navigation {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
  a {
    color: #767676;
    text-decoration: none;
  }
  align-items: end;
  @media (min-width: 576px) {
    align-self: self-end;
  }
  @media (min-width: 768px) {
    font-size: 22px;
  }
}
.shiny-title {
  font-weight: 500;
  line-height: 140%;
  margin: 0px !important;
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}
.shiny-info {
  font-size: 10px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.active {
  color: var(--primary-color) !important;
  text-decoration: underline !important;
}

.text-title {
  font-family: bellota;
  display: flex;
  gap: 0px;
  display: none;
  align-items: center;
  flex-direction: row;
  @media (min-width: 576px) {
    flex-direction: column;
    align-items: start;
    display: block;
  }
}

.data-header {
  display: flex;
  flex-direction: column;
  align-self: self-end;
  padding-bottom: 10px;
  gap: 3px;
  width: 100%;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
    align-self: auto;
    padding-bottom: 0px;
  }
}

.shiny-logo {
  height: 3rem;
  @media (min-width: 576px) {
    height: 4rem;
  }
}
