<header class="header">
  <div class="shiny">
    <img style="height: 4rem" src="assets/images/ShinyLogo.png" />
    <div>
      <h2 class="shiny-title">Shiny Stones</h2>
      <span class="shiny-info">Création lithotérapique</span>
    </div>
  </div>
  <nav class="navigation">
    <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
    <a routerLink="/fiches" routerLinkActive="active">Fiche de pierre</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>
