.cgvu__container {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
  h2 {
    font-weight: 800;
    text-decoration: underline;
    color: var(--primary-font-color);
  }
  h3 {
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
}
