<div class="paragraphe cgvu__container">
  <h2>Conditions générales d’utilisation du site</h2>
  <h3>ARTICLE 1 : Objet</h3>
  <p>
    Les présentes « conditions générales d&#39;utilisation » ont pour objet
    l&#39;encadrement juridique de l’utilisation du site
    <a href="www.shiny-stones.net">www.shiny-stones.net</a> et de ses services.
    <br /><br />
    Ce contrat est conclu entre :<br />
    Le gérant du site internet, ci-après désigné « l’Éditeur ». <br />
    Toute personne physique ou morale souhaitant accéder au site et à ses
    services, ci-après appelé « l’Utilisateur ». <br /><br />
    Les conditions générales d&#39;utilisation doivent être acceptées par tout
    Utilisateur, et son accès au site vaut acceptation de ces conditions.
  </p>
  <h3>ARTICLE 2 : Mentions légales</h3>
  <p>
    Le site <a href="www.shiny-stones.net">www.shiny-stones.net</a> est édité
    par <b>HUSSON Alexandra</b>, domiciliée au
    <b>12 avenue d’Orléans 45550 Saint Denis de l’Hotel.</b>
  </p>
  <h3>ARTICLE 3 : accès aux services</h3>
  <div>
    <span
      >L’Utilisateur du site
      <a href="www.shiny-stones.net">www.shiny-stones.net</a> a accès aux
      services suivants :
    </span>
    <ul>
      <li>Vente de bijoux en pierre précieuse et semi-précieuse.</li>
    </ul>
    <span>
      Tout utilisateur ayant accès à internet peut accéder gratuitement et
      depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y
      accéder (connexion internet, matériel informatique, etc.) ne sont pas à la
      charge de l’Éditeur.<br /><br />
    </span>
    <span>
      Le site et ses différents services peuvent être interrompus ou suspendus
      par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation
      de préavis ou de justification.
    </span>
  </div>
  <h3>ARTICLE 4 : Responsabilité de l’Utilisateur</h3>
  <div>
    L&#39;Utilisateur est responsable des risques liés à l’utilisation de son
    identifiant de connexion et de son mot de passe. <br /><br />
    Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation
    de mot de passe, l’Éditeur décline toute responsabilité.<br /><br />
    L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait
    des informations et contenus présents sur le site www.shiny-stones.net.<br /><br />
    Tout usage du service par l&#39;Utilisateur ayant directement ou
    indirectement pour conséquence des dommages doit faire l&#39;objet d&#39;une
    indemnisation au profit du site.<br /><br />
    Le site permet aux membres de publier sur le site :
    <ul>
      <li>Avis</li>
      <li>Commentaires Le membre s’engage à tenir des propos</li>
    </ul>
    respectueux des autres et de la loi et accepte que ces publications soient
    modérées ou refusées par l’Éditeur, sans obligation de justification.<br /><br />
    En publiant sur le site, l’Utilisateur cède à la société éditrice le droit
    non exclusif et gratuit de représenter, reproduire, adapter, modifier,
    diffuser et distribuer sa publication, directement ou par un tiers
    autorisé.<br /><br />
    L’Éditeur s&#39;engage toutefois à citer le membre en cas d’utilisation de
    sa publication
  </div>
  <h3>ARTICLE 5 : Responsabilité de l’Éditeur</h3>
  <p>
    Tout dysfonctionnement du serveur ou du réseau ne peut engager la
    responsabilité de l’Éditeur.<br /><br />
    De même, la responsabilité du site ne peut être engagée en cas de force
    majeure ou du fait imprévisible et insurmontable d&#39;un tiers.<br /><br />
    Le site <a href="www.shiny-stones.net">www.shiny-stones.net</a> s&#39;engage
    à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et
    la confidentialité des données. Toutefois, il n’apporte pas une garantie de
    sécurité totale.<br /><br />
    L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des
    sources, bien que les informations diffusées sur le site soient réputées
    fiables.
  </p>
  <h3>ARTICLE 6 : Propriété intellectuelle</h3>
  <p>
    Les contenus du site
    <a href="www.shiny-stones.net">www.shiny-stones.net</a> (logos, textes,
    éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en
    vertu du Code de la propriété intellectuelle. <br /><br />L&#39;utilisateur
    devra obtenir l’autorisation de l’éditeur du site avant toute reproduction,
    copie ou publication de ces différents contenus.<br /><br />
    Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ;
    tout usage commercial est interdit.<br /><br />
    L&#39;utilisateur est entièrement responsable de tout contenu qu’il met en
    ligne et il s’engage à ne pas porter atteinte à un tiers.<br /><br />
    L’Éditeur du site se réserve le droit de modérer ou de supprimer librement
    et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans
    justification.
  </p>
  <h3>ARTICLE 7 : Données personnelles</h3>
  <div>
    L’Utilisateur doit obligatoirement fournir des informations personnelles
    pour procéder à son inscription sur le site.<br /><br />
    L’adresse électronique (e-mail) de l’utilisateur pourra notamment être
    utilisée par le site
    <a href="www.shiny-stones.net">www.shiny-stones.net</a> pour la
    communication d’informations diverses et la gestion du compte.<br /><br />
    <a href="www.shiny-stones.net">www.shiny-stones.net</a> garantit le respect
    de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6
    janvier 1978 relative à l&#39;informatique, aux fichiers et aux libertés.<br /><br />
    En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978,
    l&#39;Utilisateur dispose d&#39;un droit d&#39;accès, de rectification, de
    suppression et d&#39;opposition de ses données personnelles.
    L&#39;Utilisateur exerce ce droit via :
    <ul>
      <li>Son espace personnel sur le site ;</li>
      <li>Un formulaire de contact ;</li>
      <li>
        Par mail à
        <a href="mailto:shiny.stones1&#64;outllook.com"
          >shiny.stones1&#64;outlook.com</a
        >;
      </li>
      <li>
        Par voie postale au
        <b>12 avenue d’Orléans, 45550 Saint Denis de l’Hotel.</b>
      </li>
    </ul>
  </div>
  <h3>ARTICLE 8 : Liens hypertextes</h3>
  <p>
    Les domaines vers lesquels mènent les liens hypertextes présents sur le site
    n’engagent pas la responsabilité de l’Éditeur de www.shiny-stones.net, qui
    n’a pas de contrôle sur ces liens.
  </p>
  <h3>ARTICLE 9 : Évolution des conditions générales d’utilisation</h3>
  <p>
    Le site <a href="www.shiny-stones.net">www.shiny-stones.net</a> se réserve
    le droit de modifier les clauses de ces conditions générales d’utilisation à
    tout moment et sans justification.
  </p>
  <h3>ARTICLE 10 : Durée du contrat</h3>
  <p>
    La durée du présent contrat est indéterminée. Le contrat produit ses effets
    à l&#39;égard de l&#39;utilisateur à compter du début de l’utilisation du
    service.
  </p>
  <h3>ARTICLE 11 : Droit applicable et juridiction compétente</h3>
  <p>
    Le présent contrat dépend de la législation française. En cas de litige non
    résolu à l’amiable entre l&#39;utilisateur et l’éditeur, les tribunaux d’<b
      >Orléans</b
    >
    sont compétents pour régler le contentieux.
  </p>

  <h2>Conditions générales de vente</h2>
  <span><b>Applicables à compter du 09 mars 2025</b></span>
  <h3>Clause n° 1 : Objet et champ d&#39;application</h3>
  <p>
    Les conditions générales de vente décrites ci-après détaillent les droits et
    obligations de la société Alexandra HUSSON et de son client dans le cadre de
    la vente des marchandises suivantes : Bijoux et accessoires en pierre
    précieuses et semi- précieuses.
  </p>
  <h3>Clause n° 2 : Prix</h3>
  <p>
    Les prix des marchandises vendues sont ceux en vigueur au jour de la prise
    de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de
    conséquence, ils seront majorés des frais de transport applicables au jour
    de la livraison. La société Alexandra HUSSON s&#39;accorde le droit de
    modifier ses tarifs à tout moment. Toutefois, elle s&#39;engage à facturer
    les marchandises commandées aux prix indiqués lors de l&#39;enregistrement
    de la commande.
  </p>
  <h3>Clause n° 3 : Rabais et ristournes</h3>
  <p>
    Les tarifs proposés comprennent les rabais et ristournes que la société
    Alexandra HUSSON serait amenée à octroyer compte tenu de ses résultats ou de
    la prise en charge par l&#39;acheteur de certaines prestations.
  </p>
  <h3>Clause n° 4 : Escompte</h3>
  <p>Aucun escompte ne sera consenti en cas de paiement anticipé.</p>
  <h3>Clause n° 5 : Modalités de paiement</h3>
  <div>
    Le règlement des commandes s&#39;effectue :
    <ul>
      <li>Soit par chèque,</li>
      <li>Soit par espèce,</li>
      <li>Soit en virement bancaire.</li>
    </ul>
    Les règlements seront effectués aux conditions suivantes :
    <ul>
      <li>Paiement à 30 jours suivant la date de facturation.</li>
    </ul>
  </div>
  <h3>Clause n° 6 : Retard de paiement</h3>
  <p>
    En cas de défaut de paiement total ou partiel des marchandises livrées à
    l&#39;échéance, l&#39;acheteur doit verser à la société Alexandra husson une
    pénalité de retard égale à trois fois le taux de l&#39;intérêt légal.<br /><br />
    Le taux de l&#39;intérêt légal retenu est celui en vigueur au jour de la
    livraison des marchandises.<br /><br />
    A compter du 1er janvier 2015, le taux d&#39;intérêt légal sera révisé tous
    les 6 mois (Ordonnance n°2014-947 du 20 août 2014).<br /><br />
    Cette pénalité est calculée sur le montant TTC de la somme restant due, et
    court à compter de la date d&#39;échéance du prix sans qu&#39;aucune mise en
    demeure préalable ne soit nécessaire.<br /><br />
    En sus des indemnités de retard, toute somme, y compris l’acompte, non payée
    à sa date d’exigibilité produira de plein droit le paiement d’une indemnité
    forfaitaire de 40 euros due au titre des frais de recouvrement.<br /><br />
    Articles 441-10 et D. 441-5 du code de commerce.
  </p>
  <h3>Clause n° 7 : Clause résolutoire</h3>
  <p>
    Si dans les quinze jours qui suivent la mise en œuvre de la clause
    &quot;Retard de paiement&quot;, l&#39;acheteur ne s&#39;est pas acquitté des
    sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir
    droit à l&#39;allocation de dommages et intérêts au profit de la société
    Alexandra Husson.
  </p>
  <h3>Clause n° 8 : Clause de réserve de propriété</h3>
  <p>
    La société Alexandra husson conserve la propriété des biens vendus
    jusqu&#39;au paiement intégral du prix, en principal et en accessoires. À ce
    titre, si l&#39;acheteur fait l&#39;objet d&#39;un redressement ou d&#39;une
    liquidation judiciaire, la société Alexandra husson se réserve le droit de
    revendiquer, dans le cadre de la procédure collective, les marchandises
    vendues et restées impayées.
  </p>
  <h3>Clause n° 9 : Livraison</h3>
  <div>
    La livraison est effectuée :
    <ul>
      <li>soit par la remise directe de la marchandise à l&#39;acheteur,</li>
      <li>
        soit par le dépôt de la marchandise au lieu indiqué par l&#39;acheteur
        sur le bon de commande.
      </li>
    </ul>
    Le délai de livraison indiqué lors de l&#39;enregistrement de la commande
    n&#39;est donné qu&#39;à titre indicatif et n&#39;est aucunement garanti.<br /><br />
    Par voie de conséquence, tout retard raisonnable dans la livraison des
    produits ne pourra pas donner lieu au profit de l&#39;acheteur à :
    <ul>
      <li>l&#39;allocation de dommages et intérêts,</li>
      <li>l&#39;annulation de la commande.</li>
    </ul>
    Le risque du transport est supporté en totalité par l&#39;acheteur.<br /><br />
    En cas de marchandises manquantes ou détériorées lors du transport,
    l&#39;acheteur devra formuler toutes les réserves nécessaires sur le bon de
    commande à réception desdites marchandises. Ces réserves devront être, en
    outre, confirmées par écrit dans les cinq jours suivant la livraison, par
    courrier recommandé AR adressé à la société.
  </div>
  <h3>Clause n° 10 : Force majeure</h3>
  <p>
    La responsabilité de la société Alexandra husson ne pourra pas être mise en
    œuvre si la non-exécution ou le retard dans l&#39;exécution de l&#39;une de
    ses obligations décrites dans les présentes conditions générales de vente
    découle d&#39;un cas de force majeure. À ce titre, la force majeure
    s&#39;entend de tout événement extérieur, imprévisible et irrésistible au
    sens de l&#39;article 1148 du Code civil.
  </p>
  <h3>Clause n° 11 : Tribunal compétent</h3>
  <p>
    Tout litige relatif à l&#39;interprétation et à l&#39;exécution des
    présentes conditions générales de vente est soumis au droit français. À
    défaut de résolution amiable, le litige sera porté devant le Tribunal de
    commerce d’Orléans.
  </p>
  <p>Fait à Saint Denis de l’Hôtel, le 09 mars 2025</p>
</div>
