// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shiny-stones-primary: mat.define-palette(mat.$indigo-palette);
$shiny-stones-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shiny-stones-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shiny-stones-theme: mat.define-light-theme(
  (
    color: (
      primary: $shiny-stones-primary,
      accent: $shiny-stones-accent,
      warn: $shiny-stones-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shiny-stones-theme);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: bellota;
  src: url(assets/fonts/Bellota-Bold.otf) format("opentype");
}

@font-face {
  font-family: rocaOne;
  src: url(assets/fonts/RocaOne-Rg.ttf) format("truetype");
}

:root {
  --primary-color: #fcfcf2;
  --primary-20-color: #ecddd7;
  --primary-40-color: #e7d3cc;
  --primary-60-color: #bca7a0;
  --primary-font-color: #9c5e48;
  --secondary-color: #764737;
  --mat-paginator-container-text-color: #7b6044;
  --mdc-dialog-subhead-color: #5c3f1d;
}

html,
body {
  height: 100%;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}
body {
  margin: 0rem;
  font-family: rocaOne;
}

button {
  color: var(--primary-font-color);
}

img {
  border-radius: 12px;
}

.paragraphe {
  background-color: var(--primary-40-color);
  display: flex;
  gap: 24px;
  border-radius: 25px;
  padding: 20px;
  align-items: center;
  h2 {
    font-size: 26px;
    margin: 0px;
    margin-bottom: 8px;
    font-weight: normal;
    font-family: bellota;
    color: var(--secondary-color);
  }
  flex-direction: column;
  @include md {
    flex-direction: row;
  }
}

.container {
  padding-bottom: 3rem;
  // 576px window width and more
  @include sm {
    max-width: 640px;
  }
  @include md {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
  // 992px window width and more
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  @include xl {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}

.galerie {
  display: grid;
  gap: 24px;
  padding: 12px;
  @include sm {
    grid-template-columns: 1fr;
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
}
