<div class="recherche">
  <label>Rechercher :</label>
  <input
    type="text"
    [ngModel]="recherche()"
    (ngModelChange)="recherche.set($event)"
  />
</div>
<div class="trie">
  Trier par :
  <input
    id="trieRecent"
    type="radio"
    name="trie"
    [ngModel]="order()"
    (ngModelChange)="order.set('ASC')"
    value="ASC"
  />
  <label for="trieRecent">Nom croissant</label>

  <input
    id="trieAncient"
    type="radio"
    name="trie"
    [ngModel]="order()"
    (ngModelChange)="order.set('DESC')"
    value="DESC"
  />
  <label for="trieAncient">Nom décroissant</label>
</div>
<div class="galerieElargie">
  <div class="galerie">
    @for (creation of creations(); track $index) {
    <button class="creation" (click)="openModal(creation)">
      <div style="width: 100%">
        <img
          height="200px"
          [src]="'/assets/images/pierres/' + creation.image"
        />
      </div>
      <span>{{ creation.nom }}</span>
    </button>
    }
  </div>
</div>
<mat-paginator
  class="paginator"
  (page)="setPage($event)"
  [length]="lenght()"
  [pageSize]="sizeToNumber[size()]"
  [hidePageSize]="true"
  [pageIndex]="page()"
>
</mat-paginator>
